{% extends "financial_statement/base.html" %}

{% block title %}财务报表详情{% endblock %}

{% block content %}

<style>
  .table-responsive {
    height: 100%;
  }
  .table {
    height: calc(100% - 20px); /* 减去一些边距 */
  }
</style>


<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for table in tables %}
    <div class="col">
      <div class="table-responsive h-100">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col" colspan="2">{{ table.title }}</th>
            </tr>
          </thead>
          <tbody>
            {% for row in table.data %}
            <tr class="{{ row.class }}">
              <td>{{ row.col1 }}</td>
              <td>{{ row.col2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
</div>




{% endblock %}