{% extends 'files/base.html' %}
{% load django_bootstrap5 %}

{% block title %}登录{% endblock %}

{% block content %}
    <div class="container">
        <h1>登录</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='登录' %}{% endblock %}
        </form>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}